<h2>Search Results</h2>

<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>

<h2>Upload history</h2>
<% @notes = current_user.notes.paginate(page: params[:page], per_page: 10) %>
	<%= will_paginate @notes%>
	
	<%@notes.each do |note|%>
		<a href = '/notes/<%=note.id%>'>
		<div class = "row-fluid" style= "border:1px solid black">
			<div class = "span5">
				<div class = "row-fluid">
					Title: <%= note.name%>
				</div>

				<div class = "row-fluid">
					Description: <%= note.description%>
				</div>
			</div>
			<div class = "span5">
				<div class = "row-fluid">
					Subject:<%= note.category_subject%>
				</div>
				<div class = "row-fluid">
					Grade:<%= note.category_grade%>
				</div>
				<div class = "row-fluid">
					Board:<%= note.category_board%>
				</div>
			</div>
			<div class = "span2">
				<div class = "row-fluid">
					Rating: <%if !note.stat_rating.nil?%><%= note.stat_rating%><%end%>
				</div>
				<div class = "row-fluid">
					Views: <%if !note.stat_views.nil?%><%= note.stat_views%><%end%>
				</div>
			</div>
			
		</div>	
		</a>
	<%end%>
	<%= will_paginate @notes%>